@using EquiposTecnicosSN.Web.CustomExtensions
@using EquiposTecnicosSN.Entities.Mantenimiento
@model OrdenDeTrabajoMantenimientoCorrectivo

@{
    ViewBag.Title = "Detalle de Orden de Trabajo Nº " + Model.NumeroReferencia + " para Mantenimiento Correctivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_ODTMCUsersDetails", Model)

<div class="row">
    <div class="col-md-12">
        @Html.DisplayFor(model => model)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <a href="@Url.Action("Details", "EquiposBase" ,new { id = Model.Equipo.EquipoId })" class="btn btn-default"> Volver</a>

            @if (OrdenDeTrabajoEstado.Abierta.Equals(Model.Estado) || OrdenDeTrabajoEstado.EsperaRepuesto.Equals(Model.Estado))
            {
                <a href="@Url.Action("EditGastos", new { id = Model.OrdenDeTrabajoId})" class="btn btn-info">Editar Gastos</a>

                if (Model.Diagnostico == null)
                {
                    <a href="@Url.Action("FillDiagnose", new { id = Model.OrdenDeTrabajoId })" class="btn btn-primary"> Diagnosticar Problema</a>
                }

                if (Model.Diagnostico != null &&
                (OrdenDeTrabajoEstado.Abierta.Equals(Model.Estado) ||
                OrdenDeTrabajoEstado.EsperaRepuesto.Equals(Model.Estado)))
                {
                    <a href="@Url.Action("OrderReplacementService", "SolicitudesRepuestoServicio", new { id = Model.OrdenDeTrabajoId }, null)" class="btn btn-info"> Solicitar Repuesto</a>
                }


                if (Model.Diagnostico != null &&
            (Model.DetalleReparacion == null ||
            Model.DetalleReparacion.Length == 0))
                {
                    <a href="@Url.Action("Close", new { id = Model.OrdenDeTrabajoId})" class="btn btn-primary">Reparar y Cerrar</a>
                }
            }

        </div>
    </div>
</div>
@Html.Partial("_DetailSolicitudRepuestoServicioModal")
@section Scripts {
    <script type="text/javascript">

        $(function () {
            //Se visualiza en el detalle de la orden de trabajo(readonly-Estoy en duda si es en solo ese lugar) Jose Gutierrez 23/05/2017
            $("#@Html.IdFor(model => model.EquipoParado)").bootstrapSwitch('disabled', true);

            //Se visualiza en el detalle de la orden de trabajo(readonly-Estoy en duda si es en solo ese lugar) Jose Gutierrez 24/05/2017
            $("#@Html.IdFor(model => model.ReparoTercero)").bootstrapSwitch('disabled', true);

            $("#@Html.IdFor(model => model.EquipoRemplazo)").bootstrapSwitch('disabled', true);

            $("#@Html.IdFor(model  => model.VerificacionFuncionamiento)").bootstrapSwitch({
                onColor: "success",
                onText: "Si",
                offColor: "danger",
                offText: "No",
                disabled: "disabled"
            });

            $("#@Html.IdFor(model  => model.Limpieza)").bootstrapSwitch({
                onColor: "success",
                onText: "Si",
                offColor: "primary",
                offText: "No",
                disabled: "disabled"
            });
        });
    </script>
}